# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [30]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from newsapi import NewsApiClient
load_dotenv()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Jamel\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [31]:
# Read your api key environment variable
api_key = os.getenv("news_api")

In [32]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [33]:
# Fetch the Bitcoin news articles
Bitcoin_articles = newsapi.get_everything(q="Bitcoin", language="en", sort_by="relevancy")

In [34]:
# Print total articles
print(f"articles about Bitcoin: {Bitcoin_articles['totalResults']}")

articles about Bitcoin: 9782

In [35]:
# Show sample article
Bitcoin_articles["articles"][0]

{'source': {'id': 'engadget', 'name': 'Engadget'},
 'author': 'Kris Holt',
 'title': 'New York passes a bill to limit bitcoin mining',
 'description': "New York lawmakers have passed a bill\r\n that would temporarily ban new bitcoin\r\n mining operations. Early on Friday, state senators voted 36-27 to pass the legislation. It's now bound for the desk of Governor Kathy Hochul, who will sign it into law or veto th…",
 'url': 'https://www.engadget.com/new-york-cryptocurrency-bill-bitcoin-mining-climate-change-161126292.html',
 'urlToImage': 'https://s.yimg.com/os/creatr-uploaded-images/2021-05/a8217250-bdfa-11eb-bfc4-2663225cea83',
 'publishedAt': '2022-06-03T16:11:26Z',
 'content': "New York lawmakers have passed a bill\r\n that would temporarily ban new bitcoin\r\n mining operations. Early on Friday, state senators voted 36-27 to pass the legislation. It's now bound for the desk of… [+2036 chars]"}

In [36]:
# Fetch the Ethereum news articles
Ethereum_articles = newsapi.get_everything(q="Ethereum", language="en", sort_by="relevancy")

In [37]:
# Print total articles
print(f"articles about Ethereum: {Ethereum_articles['totalResults']}")

articles about Ethereum: 4668

In [38]:
# Show sample article
Ethereum_articles["articles"][0]

{'source': {'id': 'engadget', 'name': 'Engadget'},
 'author': 'Jon Fingas',
 'title': "Here's what NFTs look like on Instagram",
 'description': "Meta has revealed more of how NFTs will work on Instagram. In the US-based test, you can show what you've bought or created for free by connecting your Instagram account to a compatible digital wallet and posting for the world to see. If you like, the social …",
 'url': 'https://www.engadget.com/instagram-nft-details-131020868.html',
 'urlToImage': 'https://s.yimg.com/os/creatr-uploaded-images/2022-05/2546c160-d05e-11ec-b75e-e45eaa8c5b2b',
 'publishedAt': '2022-05-10T13:10:20Z',
 'content': "Meta has revealed more of how NFTs will work on Instagram. In the US-based test, you can show what you've bought or created for free by connecting your Instagram account to a compatible digital walle… [+1223 chars]"}

In [55]:
# Create the Bitcoin sentiment scores DataFrame
Bitcoin_sentiments = []

for article in Bitcoin_articles["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        Bitcoin_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass

In [57]:
Bitcoin_df = pd.DataFrame(Bitcoin_sentiments) 


# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
Bitcoin_df = Bitcoin_df[cols]
Bitcoin_df.head()

,date,text,compound,positive,negative,neutral
0,2022-06-03,New York lawmakers have passed a bill\r\n that...,-0.5574,0.000,0.098,0.902
1,2022-05-10,"Now, even though there are a number of women-f...",0.0772,0.036,0.000,0.964
2,2022-06-09,"Rapper and entrepreneur Shawn Carter, better k...",0.4404,0.077,0.000,0.923
3,2022-06-08,A new study on bitcoin calls into question whe...,0.5267,0.124,0.000,0.876
4,2022-06-05,"Image caption, President Faustin-Archange Toua...",0.5106,0.164,0.000,0.836

In [58]:
# Create the Ethereum sentiment scores DataFrame
Ethereum_sentiments = []

for article in Ethereum_articles["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        Ethereum_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass

In [59]:
Ethereum_df = pd.DataFrame(Ethereum_sentiments)


# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
Ethereum_df = Ethereum_df[cols]
Ethereum_df.head()

,date,text,compound,positive,negative,neutral
0,2022-05-10,Meta has revealed more of how NFTs will work o...,0.6486,0.135,0.00,0.865
1,2022-05-23,GameStop has officially thrown itself headlong...,-0.1027,0.000,0.04,0.960
2,2022-05-23,GameStop is going all-in on crypto. The video ...,0.1280,0.046,0.00,0.954
3,2022-06-07,The ability to conduct external transfers on P...,0.3182,0.059,0.00,0.941
4,2022-06-09,"A decentralized autonomous organization, or DA...",0.5859,0.134,0.00,0.866

In [60]:
# Describe the Bitcoin Sentiment
Bitcoin_df.describe()

        compound  positive   negative    neutral
count  20.000000   20.0000  20.000000  20.000000
mean   -0.045515    0.0501   0.061300   0.888650
std     0.412787    0.0500   0.070412   0.073528
min    -0.859300    0.0000   0.000000   0.646000
25%    -0.381800    0.0000   0.000000   0.858000
50%     0.038600    0.0490   0.056000   0.895500
75%     0.323650    0.0775   0.087500   0.924250
max     0.526700    0.1640   0.300000   1.000000

In [61]:
# Describe the Ethereum Sentiment
Ethereum_df.describe()

        compound   positive   negative    neutral
count  20.000000  20.000000  20.000000  20.000000
mean    0.047200   0.050600   0.045200   0.904300
std     0.430762   0.053698   0.084644   0.082114
min    -0.948500   0.000000   0.000000   0.628000
25%    -0.210275   0.000000   0.000000   0.865750
50%     0.064250   0.044000   0.000000   0.923000
75%     0.376275   0.077250   0.068750   0.955750
max     0.690800   0.178000   0.372000   1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: Bitcoin

Q: Which coin had the highest compound score?

A: Bitcoin had the highest score. 

Q. Which coin had the highest positive score?

A: Bitcoin had the highest positive score.

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [62]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re
import pandas as pd

In [63]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()



# Create a list of stopwords
sw = set(stopwords.words('english'))

# Expand the default stopwords list if necessary
sw_expand = {'ok', 'another', 'move', 'always', 'find', 'never', 'meet','n'}

In [64]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text

    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', text)

   
    # Create a tokenized list of the words
    words = word_tokenize(re_clean)
    
    # Lemmatize words into root words
    lem = [lemmatizer.lemmatize(word) for word in words]
   
    # Convert the words to lowercase
    output = [word.lower() for word in lem if word.lower() not in sw]
    
    # Remove the stop words
    filtered_words = [word for word in word_list if word not in stopwords.words('english')]
    
    return tokens

In [66]:
# Create a new tokens column for Bitcoin
Bitcoin_df['tokens'] = Bitcoin_df['text'].apply(word_tokenize)
Bitcoin_df.head()

,date,text,compound,positive,negative,neutral,tokens
0,2022-06-03,New York lawmakers have passed a bill\r\n that...,-0.5574,0.000,0.098,0.902,"[New, York, lawmakers, have, passed, a, bill, ..."
1,2022-05-10,"Now, even though there are a number of women-f...",0.0772,0.036,0.000,0.964,"[Now, ,, even, though, there, are, a, number, ..."
2,2022-06-09,"Rapper and entrepreneur Shawn Carter, better k...",0.4404,0.077,0.000,0.923,"[Rapper, and, entrepreneur, Shawn, Carter, ,, ..."
3,2022-06-08,A new study on bitcoin calls into question whe...,0.5267,0.124,0.000,0.876,"[A, new, study, on, bitcoin, calls, into, ques..."
4,2022-06-05,"Image caption, President Faustin-Archange Toua...",0.5106,0.164,0.000,0.836,"[Image, caption, ,, President, Faustin-Archang..."

In [67]:
# Create a new tokens column for Ethereum
Ethereum_df['tokens'] = Ethereum_df['text'].apply(word_tokenize)
Ethereum_df.head()

,date,text,compound,positive,negative,neutral,tokens
0,2022-05-10,Meta has revealed more of how NFTs will work o...,0.6486,0.135,0.00,0.865,"[Meta, has, revealed, more, of, how, NFTs, wil..."
1,2022-05-23,GameStop has officially thrown itself headlong...,-0.1027,0.000,0.04,0.960,"[GameStop, has, officially, thrown, itself, he..."
2,2022-05-23,GameStop is going all-in on crypto. The video ...,0.1280,0.046,0.00,0.954,"[GameStop, is, going, all-in, on, crypto, ., T..."
3,2022-06-07,The ability to conduct external transfers on P...,0.3182,0.059,0.00,0.941,"[The, ability, to, conduct, external, transfer..."
4,2022-06-09,"A decentralized autonomous organization, or DA...",0.5859,0.134,0.00,0.866,"[A, decentralized, autonomous, organization, ,..."

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [ ]:
from collections import Counter
from nltk import ngrams

In [ ]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [ ]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [ ]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [ ]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [ ]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [ ]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [ ]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [ ]:
import spacy
from spacy import displacy

In [ ]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [ ]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [ ]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [ ]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---